<h1>ALl Cars:</h1>
<div class="cards">
  <% @cars.each do |car| %>
    <% path = car.photo %>
    <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= path %>)'>
      <%= car.model %>
      $<%= car.price_per_day %>
      <%= link_to "Book", car_path(car) %>
    </div>
  <% end %>
</div>
