<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @car.photo %>>);">
  <div class="container">
    <h1><%= @car.model %></h1>
    <p>$<%= @car.price_per_day %> per day</p>
    <a class="btn btn-flat" href=# >Book now</a>
  </div>
</div>

<div>
  <%= render "booking_form", car: @car, booking: @booking %>
</div>
